img {
    /* float: right; */
    max-height: 100px;
}

/* adds ... to text overflow */
.list-group-item-text {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}